.article {
	&__offer {
		@include mq(xxl) {
			text-align: left;
			h1 {
				font-size: 4rem;
			}
			p {
				max-width: 350px;
			}
		}
	}
	&__description-right {
		@include mq(xxl) {
			margin-left: 5.9rem;
		}
	}
}
