$base-primary: hsl(12, 88%, 59%);
$base-secondary: hsl(228, 39%, 23%);

html {
	background-color: hsl(0, 0%, 98%);
	overflow-x: hidden;
}

@import "../stylux/main.scss";

@import "./header";
@import "./jqmenu";
@import "./main.scss";
@import "./article";
@import "./jqslid";
@import "./work";
@import "./footer";

// what next to do :
// background image
// add background to mobile dev in section article

// .article-after {
// 	position: relative;
// 	&::before {
// 		content: "";
// 		position: absolute;
// 		background-color: rgba($base-primary, 20%);
// 		top: 0;
// 		right: -10%;
// 		height: 100%;
// 		width: 100%;
// 		z-index: -1;
// 		border-top-left-radius: 10px;
// 		border-bottom-left-radius: 10px;
// 	}
// }

.shadow {
	box-shadow: $base-box-shadow;
}
